---
layout: default
title: Home
desc: 'Website for 2026 Spring -UVA-CS 2025sp-GenAI-LLM-Agents-Overview (Graduate Advanced Level)'
---

<p><a name="topPage"></a></p>

<div>

<ul>
  <li>Feel free to email me, when you find my typos or have comments. The covered materials are by no means an exhaustive list of machine learning, but are contents that we have taught or plan to teach in my machine learning introductory course.
</li>
  <li>
    Please pay attention to special dates: <font color="#990000"><b>(0119 MLK, 0303 break,0305 break, 0120+0122 AAAI )</b></font> no class, holiday or spring recess;  and  <font color="#990000"><b>(0428)</b></font> Last lesson day of Spring 2026 .  
  </li>
</ul>
</div>

<hr>


<h1>  Website for 2026 Spring-UVA-CS GenAI Foundation and LLM Agents: Risk and Benefits Overviews (Graduate Advanced)  </h1>



<hr>

<h2>  Course Schedule and Notes  </h2>


<p><font color="#990000"><b>The schedule below is tentative and is continually subject to change; We will move at whatever pace we find comfortable.&nbsp;</b></font>&nbsp;</p>

<div class="posts">

<table id="datatab3"  summary="Table of Lectures" border="1">
<tr>
 <h3><b>
  <th>Date</th>
  <th>Week</th>
  <th>Team Info</th>
  <th>Project Due</th>
  <th>Title / Information </th>
  <th>SlideDeck</th>
  <th>Topic</th>
  <th>Notes</th>
  </b>
  </h3>
</tr>

{% assign counter = 0 %}
{% assign Qcounter = 0 %}

{% assign currentTag = 0 %}



{% assign sorted = site.sessions %}

{% assign ddates = "|0113|0115|0127|0129|0203|0205|0210|0212|0217|0219|0224|0226|0310|0312|0317|0319|0324|0326|0331|0402|0407|0409|0414|0416|0421|0423|0428 " | split: "|" %}

{% assign dweeks = "|W1|W1|W3| |W4| |W5| |W6| |W7| |W9| |W10| |W11| |W12| |W13| |W14| |W15| |W16 " | split: "|" %}

<!--{% assign pweeks = "||P0|P1| |P2| |P3| |P4| |P5| |P6| |P7| |P8| |P9| |P10| |P11| |P12| | " | split: "|" %}-->

{% assign talkweeks = "||| || T1| |T2|  |T3|  |T4| |T5|  |T6|  |T7 || T8 |  |T9 | |T10| |T11| | | " | split: "|" %}
{% assign projectws = "| | Teaming due || Baseline-A | | Proposal-A | | Mid-A| |Final-A| | |  |Baseline-B | |Proposal-B | |Mid-B| | Final-B| || |Demo-A|||Demo-B| " | split: "|" %}


{% for post in sorted %}


  {% if currentTag == 0 %}
    {% unless post.lectureVersion contains 'current'  %}
      <tr><td align="center" bgcolor="#fff48f"  colspan="9">
        <font color="#990000"><b>WE ARE HERE</b></font></td>
      </tr>
      {% assign currentTag=currentTag | plus:1 %}
    {% endunless %}
  {% endif %}


  {% assign counter=counter | plus:1 %}
  <tr >
    <td>{{ ddates[counter] }} </td>
    <td>{{ dweeks[counter] }}</td>
    <td>{{ talkweeks[counter] }}</td>
    <td>{{ projectws[counter] }}</td>


  <td><a href="{{ site.baseurl }}{{ post.url }}" >{{ post.title }}</a></td>

  {% if post.lecture %}
    <td><a href="{{ site.baseurl }}/Lectures/{{ post.lecture }}.pdf"  target="_blank"> {{ post.lecture }}</a></td>
  {% else %}
    <td></td>
  {% endif %}

  <td>{{ post.categories[0] }} </td>

  <td>{{ post.notes }} </td>


</tr>

{% endif %}

{% endfor %}

</table>


<div style="position: fixed; bottom: 76px; left:10px; width: 88px; height: 36px; background-color: #FFCF79;">
<a style="position: fixed; bottom:80px; left:10px;" href="#topPage" title="Back to Top">BackTop</a>
</div>


